<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>照片管理</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <style>
    .layui-body{
      left:300px;
      margin-top: 50px;
    }
    .layui-table{
      width: 400px;
    }
  </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../static/img/head.png" class="layui-nav-img">
          {{ user.username }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a id="logout" href="/logout/">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">

        <li class="layui-nav-item">
          <a class="" href="../user_list">用户管理</a>
        </li>

        <li class="layui-nav-item">
          <a href="../relic_list/">文物管理</a>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">资源管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-this"><a href="../photo_list">照片管理</a></dd>
            <dd><a href="../video_list">视频管理</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item"><a href="../data_analyse">数据分析</a></li>

      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->

    <button type="button" id="upload_photo" class="layui-btn">
      <i class="layui-icon">&#xe61f;</i>导入照片
    </button>


    {% for photos in photo_list %}
    <div>
      {% for photo in photos %}
      <div style="margin-top: 30px; white-space:nowrap; display:inline-block; ">
        <div style="padding: 15px; background-color: rgb(240, 240, 240); width: 300px; display:inline-block;">
          <img src="http://127.0.0.1:8000/media/{{ photo }}" style="width: 300px; height: 200px; display:inline-block;">
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}


    </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © yd_shi
  </div>
</div>

<script type="text/javascript" src="../static/layui/layui.js" charset="utf-8"></script>
<script>
//JavaScript代码区域

layui.use('element', function(){
  var element = layui.element;
});

layui.use('table', function(){
  var table = layui.table;
  //转换静态表格
  table.init('test', {
    height: 315 //设置高度
    ,limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
    //支持所有基础参数
  }); 
});

layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;

  upload.render({
      elem: '#upload_photo'
      ,url: '/upload_photo/'
      ,multiple: true
      ,field : 'img'
      ,accept : 'images'
      ,done: function(res){
        layer.alert("导入成功", { icon: 6, title: "提示", offset: "auto", skin: 'layui-layer-molv'}, function(){
            window.location.href="/photo_list/"
            }
        );
      }
    });

})

</script>
</body>
</html>


